
.list {
    list-style-type: none;
    display: flex;
    gap: 40px;
}
.link {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}

.container-second {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    justify-content: space-between;
    display: flex;
  }

  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }

  
/*===== HEADER SECTION ======*/
.web-link {
    font-size: 18px;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    color: #2e2f42 
}

.hero {
    padding-top: 188px;
    padding-bottom: 188px ;
}

.logotype {
    font-size: 18px;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
}
.menu {
    list-style-type: none;
    display: flex;
    gap: 40px;
}
span {
    color:  #2e2f42
}
.menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word; 
    padding: 24px 0; 
}
.menu-contacts {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    font-style: normal;
}

.menu-contacts:hover,
.menu-contacts:focus {
    color: #404BBF
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF
}

.page-header-address {
    font-style: normal;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
}

/*===== / HEADER SECTION/ ======*/

body {
    font-family:'Roboto', sans-serif; 
    background-color: #FFFFFF;
    color: #434455;
}


/*===== HERO SECTION======*/
.main-title {
    color: rgb(0, 0, 0);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    word-wrap: break-word;  
    width: 496px;
}

.order-service-btn {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    word-wrap: break-word ;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}


button:hover,
button:focus {
    background-color: #404BBF
}
button {
    
}

.page-navigation {
    display: flex;
    align-items: center;
 
}
    
/*===== /HERO SECTION/ ======*/


.section-title {
    color: #2E2F42;
    font-size: 36px;
     font-weight: 700;
     text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word;   
}


/*===== SECTION DESCRIPTION =====*/

.description-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}

.description-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}

/*===== /SECTION DESCRIPTION/ =====*/

/*===== SECTION OURTEAM =====*/
 
.ourteam-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word;  
}

.ourteam-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;   
}



/*===== /SECTION OURTEAM/=====*/


/*===== SECTION OUR PORTFOLIO =====*/



.portfolio-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}

.portfolio-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;  
}


/*===== /SECTION OUR PORTFOLIO/ =====*/

/*===== PAGE FOOTER =====*/

.page-footer {  
    background-color: #2E2F42;
}

.studio-link {
    color: #F4F4FD;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    
}

.page-footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    word-wrap: break-word   
}

.web-link-footer {
    color: #f4f4fd ;
}
/*===== /PAGE FOOTER/ =====*/