
.list {
    list-style-type: none;
    display: flex;
    margin-left: 332px;
}
.link {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}
address {
    display: flex;
}

.container-bgk {

    margin-left: auto;
    margin-right: auto;
    background-color: #2E2F42;
}

.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

/*===== PAGE NAVIGATION ======*/

.page-navigation {
    display: flex;
    align-items: center;
 
}

.menu {
    display: flex;
}

.list {
    display: flex;
}

.page-header-flex {
    justify-content: space-between;
    display: flex;
}

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;}
/*===== /PAGE NAVIGATION/ ======*/

/*===== HEADER SECTION ======*/
.web-link {
    font-size: 18px;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    color: #2e2f42 
}


.logotype {
    font-size: 18px;
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    display: flex;
    margin-right: 76px;
    margin-left: 156px;
}
.menu {
    list-style-type: none;
}
span {
    color:  #2e2f42
}
.menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;  
}
.menu-contacts {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
    font-style: normal;
    margin-right: 40px;
}

.menu-item {
    margin-right: 40px;
}

.menu-contacts:hover,
.menu-contacts:focus {
    color: #404BBF
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF
}

.page-header-address {
    font-style: normal;
    display: flex;
}



/*===== / HEADER SECTION/ ======*/

body {
    font-family:'Roboto', sans-serif; 
    background-color: #FFFFFF;
    color: #434455;
}

section {
    
}
/*===== HERO SECTION======*/
.main-title {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    word-wrap: break-word;  
    width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.order-service-btn {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    word-wrap: break-word ;
    margin: 356px 635px 188px 636px;
}


button:hover,
button:focus {
    background-color: #404BBF
}
button {
    cursor: pointer;
    background-color: #4D5AE5;
}

.hero {
    background-color: #2E2F42;
}

/*===== /HERO SECTION/ ======*/


.section-title {
    color: #2E2F42;
    font-size: 36px;
     font-weight: 700;
     text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    word-wrap: break-word;   
}


/*===== SECTION DESCRIPTION =====*/

.description-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}

.description-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}

/*===== /SECTION DESCRIPTION/ =====*/

/*===== SECTION OURTEAM =====*/

.ourteam-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word;  
}

.ourteam-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;   
}



/*===== /SECTION OURTEAM/=====*/


/*===== SECTION OUR PORTFOLIO =====*/

.section-title {
    text-align: center
}

.portfolio-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    word-wrap: break-word;
}

.portfolio-list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    word-wrap: break-word;  
}

/*===== /SECTION OUR PORTFOLIO/ =====*/

/*===== PAGE FOOTER =====*/



.studio-link {
    color: #F4F4FD;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    
}

.page-footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    word-wrap: break-word   
}

.web-link-footer {
    color: #f4f4fd ;
}

.page-footer {
    background-color: #2E2F42;
}
/*===== /PAGE FOOTER/ =====*/